:root {
    --font-jp: "Noto Sans JP";
    --font-text: "DM Sans", var(--font-jp), Helvetica, Arial, sans-serif;
    --font-title: "Poppins", var(--font-jp), Helvetica, Arial, sans-serif;

    --bi-dark-pink: #FF3194;
    --bi-pink: #FF61A9;
    --bi-light-pink: #FC8DC5;
    --bi-indigo: #7272FC;
    --dark-grey: #333;
    --medium-grey: #898989;
    --light-grey: #f4f4f4;
    --white: #ffffff;

    --bi-gradient-1: linear-gradient(to right, var(--bi-dark-pink), var(--bi-light-pink), var(--bi-dark-pink));
    --bi-gradient-2: linear-gradient(45deg, var(--bi-dark-pink), var(--bi-indigo));

    --transi: all 0.3s ease;

    --font-size-4xl: 48px;
    --font-size-3xl: 40px;
    --font-size-2xl: 32px;
    --font-size-xl: 24px;
    --font-size-lg: 20px;
    --font-size-md: 16px;
    --font-size: 14px;
    --font-size-sm: 12px;
    --font-size-xs: 10px;
}