@use '../styles/mixins';
@use '../styles/variables';

.LatestPosts {
    width: 414px;
    margin: 0 auto;
    position: relative;

    > .OtherPosts {
        position: relative;
        z-index: 2;
        top: -44px;
        padding: 24px 24px;
        background-color: var(--white);
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h2 {
            margin: 0;
        }

        a .btn {
            width: 100%;
        }

        > a.OtherPost {
            cursor: pointer;
            color: var(--dark-gray);
            display: grid;
            grid-gap: 16px;
            grid-template-columns: 33% auto;

            .FeaturedImage {
                width: 100%;
                aspect-ratio: 1;
                overflow: hidden;
                border-radius: 16px;

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            > .Content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                text-align: left;

                .Tags {
                    display: flex;
                    gap: 8px;
        
                    > .Tag {
                        display: inline-block;
                        padding: 4px 8px;
                        border-radius: 4px;
        
                        color: var(--white);
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: var(--font-size-sm);
                        letter-spacing: 0.5px;
                    
                        &:nth-child(odd) {
                            background-color: var(--bi-indigo);
                        }
                        &:nth-child(even) {
                            background-color: var(--bi-dark-pink);
                        }
                        &:empty { display: none; }
                    }
                }

                > h3 {
                    display: inline-block;
                    width: fit-content;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 0;
                    color: var(--dark-gray);
                    transition: var(--transi);

                    > .icon {
                        display: inline-flex;
                        align-items: center;
                        margin-left: 4px;
                        width: 16px;
                        height: 16px;
                        position: relative;
                        overflow: hidden;

                        > svg {
                            position: relative;
                            top: 2px;
                            left: -24px;
                            opacity: 0;
                            transition: var(--transi);
                        }
                    }
            
                }
            }

            &:hover h3 {
                color: var(--bi-dark-pink);

                > .icon svg {
                    left: 0px;
                    opacity: 1;
                }
            }
        }
    }
}