@use '../styles/mixins';
@use '../styles/variables';

.menu {
    position: relative;
    z-index: 99 !important;

    text-align: center;
    width: -webkit-fill-available;
    height: fit-content;
    padding: 0 32px;
  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
  
    .logo {
      margin: 24px 0;
    }

    nav {
        .navbar-menu {
            display: flex;
            gap: 32px;

            a.navbar-item {
                color: var(--white);
                font-weight: bold;
                font-size: var(--font-size);
                text-transform: uppercase;
                letter-spacing: 0.5px;
                padding: 4px 0;
                transition: var(--transi);

                &:after,
                &.active:after {
                    display: block;
                    height: 2px;
                    background-color: var(--white);
                    content: " ";
                    position: relative;
                    top: 4px;
                    width: 100%;
                    transition: var(--transi);
                    transform: scaleX(0%);
                    transform-origin: left;
                }
                &:hover:after,
                &.active:after  {
                    transform: scaleX(100%) !important;
                }
            }
        }
    }
  
  }