@use 'styles/mixins';
@use 'styles/variables';

html, body {
  font-family: var(--font-text);
  font-size: var(--font-size);

  background-color: var(--light-grey);
  color: var(--dark-grey);
}

.global {
  display: flex;
  flex-direction: column;

  .container {
    width: 100%;
    margin: auto;
  }

  .home-background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: var(--bi-gradient-2);
    position: absolute;
    top: 0;
  
    img {
      width: 115%;
      height: 115%;
      object-fit: cover;
      opacity: 0.3;
    }
  }
}


/* ------ TITLES STYLES ------ */
h2 {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 16px;
  align-items: center;
  width: 100%;

  > span {
    display: inline-block;
    width: fit-content;
    font-family: var(--font-title);
    font-size: var(--font-size-xl);
    color: var(--dark-grey);
    line-height: 32px;
  }

  &:after {
    display: block;
    height: 2px;
    width: 100%;
    content: " ";
    background-image: var(--bi-gradient-2);
  }
}

/* ------ BUTTONS STYLES ------ */
a {
  text-decoration: none !important;

  .btn {
    border: none;
    border-radius: 16px;
    font-family: var(--font-text);
    font-weight: bold;
    font-size: var(--font-size);
    line-height: 1.5;
    letter-spacing: 0.7px;
    text-transform: uppercase;

    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;

    transition: var(--transi);

    &.mainPink {
      color: var(--white);
      background-image: var(--bi-gradient-1);
      background-position: center right;
      background-size: 200% 100%;

      &:hover{
        background-position: center left;
      }
    }

    > span {
      text-decoration: none !important;
    }
  }
}